:root{
    --blu: #028FDB;
    --viola: #948EE6;
    --bg-footer: #3E3E3E;
    --border-blu: #B5DDFF;
    --white: #EDEDED;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans';
    background-color: #EDEDED;
    margin-top: 70px;
}

header a{
    text-decoration: none;
    color: white;
}

p{
    line-height: 35px;
}

ul{
    list-style: none;
}

/* utils */

.debug{
    border: 2px solid green;
    /* background-color: red; */
}

.d-flex{
    display: flex;
}

.ai-center{
    align-items: center;
}

.jc-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.m-auto{
    margin: 0 auto;
}

/* margin-top small */
.mt-sm{
    margin-top: 30px;
}
/* margin-top medium */
.mt-md{
    margin-top: 50px;
}
/* margin-top large */
.mt-lg{
    margin-top: 80px;
}

/* margin-bottom medium */
.mb-md{
    margin-bottom: 50px;
}
/* margin-bottom large */
.mb-lg{
    margin-bottom: 80px;
}

/* padding-top medio */
.pt-md{
    padding-top: 50px;
}
/* padding-top large */
.pt-lg{
    padding-top: 80px;
}
/* padding-bottom medio */
.pb-md{
    padding-bottom: 50px;
}
/* padding-bottom large */
.pb-lg{
    padding-bottom: 80px;
}

.border-blu{
    border: 1px solid var(--blu);
    background: var(--border-blu);
    border-radius: 30px;
}
.border-purple{
    border: 1px solid var(--viola);
    background: var(--viola);
    border-radius: 30px;
}

.border-white{
    border: 1px solid var(--white);
    background: var(--white);
    border-radius: 30px;
}

.btn{
    border-radius: 30px;
    padding: 10px 20px;
}

/* texts */
h2{
    font-size: 2rem;
}


/* HEADER */
header{
    background-color: var(--blu);
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    color: white;
    z-index: 999;
}

.menu{
    width: 90%;
    height: 100%;
}

.menu .logo{
    width: 100px;
    height: 50px;
}

.menu i{
    font-size: 1.5rem;
}

.menu .navbar{
    display: none;
}

header .btn:hover{
    filter: brightness(.8);
}

header ul li:hover{
    cursor: pointer;
    filter: brightness(.8);
}


/* MAIN */
.container{
    width: 85%;
    margin: 0 auto;
    /* background: red; */
}

.row{
    flex-direction: column;
}

/* demo */
.demo{
    /* height header fixed + margin */
    margin-top: calc(50px + 70px);
}


.demo .row .col:first-child{
    height: 750px;
}

.demo .row .col{
    width: 100%;
    height: 450px;
}

.demo .row .col:not(:last-child){
    margin-bottom: 30px;
}

/* strategic */
section.strategic{
    background-color: var(--viola);
    color: white;
}

.strategic-1 .img{
    height: 350px;
}

.strategic-2{
    height: 700px;
}


/* testimonials */
.testimonials h2{
    color: var(--viola);
}

.testimonials-top{
    text-align: center;
}

.testimonials-cards .row .col{
    width: 100%;
    height: 450px;
}

.testimonials-cards .row .col:not(:last-child){
    margin-bottom: 30px;
}


/* benefits */
.benefits{
    background-color: var(--viola);
}

.benefits h2{
    color: white;
    text-align: center;
}

.benefits-card .row .col{
    width: 100%;
    height: 350px;
}

.benefits-card .row .col:not(:last-child){
    margin-bottom: 30px;
}


/* about us */
.about-us h2{
    color: var(--viola);
    font-size: 2.6rem;
}

.ab-us-bottom .ab-us-img{
    height: 250px;
}

.ab-us-bottom p{
    color: var(--viola);
    font-weight: bolder;
    font-size: 2rem;
}

.ab-us-bottom .btn{
    background: var(--viola);
    color: white;
    text-decoration: none;
}

.ab-us-bottom .btn-lkd:hover{
    filter: brightness(.8);
}














/*  *********************
    SOLUZIONI RESPONSIVE
    ********************* */

@media screen and (min-width: 768px) {

    .demo .container{
        width: 750px;
        /* min-width: 770px;
        max-width: 800px; */
    }
    
    .demo .row{
        flex-flow: row wrap;
        justify-content: space-between;
        /* width: 1190px; */
    }
    
    .row .col{
        width: 250px;
        height: 600px;
    }

    .row .col:nth-child(3){
        height: 450px;
    }
    .row .col:nth-child(4){
        height: 450px;
    }
    .row .col:nth-child(5){
        height: 450px;
    }

    .row .col:first-child{
        width: 500px;
        height: 600px;
    }

}
    

@media screen and (min-width: 1200px) {

    .menu i{
        display: none;
    }
    
    .menu .navbar{
        display: flex;
        height: 100%
    }

    .menu .navbar ul{
        width: 480px;
        height: 100%;
    }

    .menu .navbar ul li{
        display: flex;
        align-items: center;
        height: 100%;    
    }

    .menu .navbar ul li:last-child a{
        background: white;
        color: black;
    }
    
}