:root{
    --blu: #028FDB;
    --viola: #948EE6;
    --bg-footer: #3E3E3E;
    --border-blu: #B5DDFF;
    --white: #EDEDED;
    --black-txt: #5B7082;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans';
    background-color: #EDEDED;
    margin-top: 70px;
}

img{
    max-width: 100%;
}

header,
section:not(.started) a{
    text-decoration: none;
    color: white;
}

p{
    line-height: 35px;
}

ul{
    list-style: none;
}

/* utils */

.debug{
    border: 2px solid green;
    /* background-color: red; */
}

.d-flex{
    display: flex;
}

.ai-center{
    align-items: center;
}

.jc-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.m-auto{
    margin: 0 auto;
}

/* margin-top small */
.mt-sm{
    margin-top: 30px;
}
/* margin-top medium */
.mt-md{
    margin-top: 50px;
}
/* margin-top large */
.mt-lg{
    margin-top: 80px;
}

/* margin-bottom medium */
.mb-sm{
    margin-bottom: 20px;
}
/* margin-bottom medium */
.mb-md{
    margin-bottom: 50px;
}
/* margin-bottom large */
.mb-lg{
    margin-bottom: 80px;
}

/* padding-top medio */
.pt-md{
    padding-top: 50px;
}
/* padding-top large */
.pt-lg{
    padding-top: 80px;
}
/* padding-bottom medio */
.pb-md{
    padding-bottom: 50px;
}
/* padding-bottom large */
.pb-lg{
    padding-bottom: 80px;
}

.border-blu{
    background: var(--border-blu);
    border-radius: 30px;
}
.border-purple{
    background: var(--viola);
    border-radius: 30px;
}

.border-white{
    background: var(--white);
    border-radius: 30px;
}

.btn{
    border-radius: 30px;
    padding: 10px 20px;
}

.card{
    padding: 30px 30px 0 30px;
    height: 100%;
}

/* .col{
    height: 100%;
} */

/* .row{
    height: 100%;
} */

/* texts */
h2{
    font-size: 2rem;
}

h4{
    font-size: 1.5rem;
}

/* HEADER */
header{
    background-color: var(--blu);
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    color: white;
    z-index: 999;
}

.menu{
    width: 90%;
    height: 100%;
}

.menu .logo{
    width: 100px;
    height: 50px;
}

.menu i{
    font-size: 1.5rem;
}

.menu .navbar{
    display: none;
}

header .btn:hover{
    filter: brightness(.8);
}

header ul li:hover{
    cursor: pointer;
    filter: brightness(.8);
}


/* MAIN */
.container{
    width: 85%;
    margin: 0 auto;
    /* background: red; */
}

.row{
    flex-direction: column;
}

/* demo */
.demo{
    /* height header fixed + margin */
    margin-top: calc(50px + 70px);
    color: var(--black-txt);
    font-weight: 600;
}

.demo h4{
    color: var(--blu);
}


.demo .row .col:first-child{
    height: 750px;
}

.demo .row .col{
    width: 100%;
    height: 450px;
}

.demo .row .col:not(:last-child){
    margin-bottom: 30px;
}

.demo .row .col .card .btn{
    background-color: var(--blu);
    padding: 10px 55px;
    font-weight: bold;
    font-size: 1.2rem;
}

.demo .row .col .card .btn-app:hover {
    filter: brightness(.8);
}

.demo .row .col .card .btn i{
    margin-right: 3px;
}

.demo .row .col .card .img-app{
    border: 1px solid red;
    height: 100%;
}





/* strategic */
.strategic{
    background-color: var(--viola);
    color: white;
}

.strategic .container{
    flex-direction: column;
}

.strategic-1 .img{
    height: 350px;
}

.strategic-2{
    height: 700px;
}


/* testimonials */
.testimonials h2{
    color: var(--viola);
}

.testimonials-top{
    text-align: center;
}

.testimonials-cards .row .col{
    width: 100%;
    height: 450px;
}

.testimonials-cards .row .col:not(:last-child){
    margin-bottom: 30px;
}


/* benefits */
.benefits{
    background-color: var(--viola);
}

.benefits h2{
    color: white;
    text-align: center;
}

.benefits-card .row .col{
    width: 100%;
    height: 350px;
}

.benefits-card .row .col:not(:last-child){
    margin-bottom: 30px;
}


/* about us */
.about-us .container{
    flex-direction: column;
}

.about-us h2{
    color: var(--viola);
    font-size: 2.6rem;
}

.ab-us-bottom .ab-us-img{
    width: 50%;
    height: 250px;
}

.ab-us-bottom p{
    color: var(--viola);
    font-weight: bolder;
    font-size: 2rem;
}

.ab-us-bottom .btn{
    background: var(--viola);
    color: white;
    text-decoration: none;
}

.ab-us-bottom .btn-lkd:hover{
    filter: brightness(.8);
}

/* started */
.started{
    background-color: var(--viola);
}

.started .container{
    text-align: center;
    color: var(--white);
}

.started .container p:first-child{
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.559);
}

.started .container p:nth-child(2){
    font-size: 1.8rem;
    color: var(--white);
    font-weight: bolder;
}

.started .container h3{
    font-size: 3.5rem;
    color: rgba(255, 166, 0, 0.695);
}

.started .container .btn{
    background: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 70px;
    color: var(--viola);
}
.started .container .btn-started:hover{
    filter: brightness(.8);
}

.started .container .copyright ul{
    flex-wrap: wrap;
}

.started .container .copyright ul li{
    margin: 0 10px;
}

.started .container .copyright ul li a{
    color: var(--white);
}

.started .container .copyright ul li:nth-child(2){
    list-style:disc;
}
.started .container .copyright ul li:nth-child(3){
    list-style:disc;
}

/* footer */
footer{
    background-color: var(--bg-footer);
    color: var(--white);
}

footer p{
    line-height: 20px;
    text-align: center;
}

footer p a{
    color: var(--viola);
}


/*  ***************************
        SOLUZIONI RESPONSIVE
    *************************** */

@media screen and (min-width: 768px) {

    /* demo */
    .container{
        width: 720px;
        
    }
    
    .demo .container .row{
        flex-flow: row wrap; 
        height: 1200px;
    }

    .demo .container .row .col:nth-child(1){
        width: calc(100% / 1.5);
    }
    .demo .container .row .col:nth-child(2){
        width: calc(100% / 3);
    }

    .demo .container .row .col:nth-child(1),
    .demo .container .row .col:nth-child(2){
        height: 650px;
    }

    .demo .container .row .col{
        height: 500px;
        width: calc(100% / 3);
        padding: 20px;
    }

    /* strategic */
    .strategic-1 .img{
        height: 550px;
    }

    .strategic-1 h2{
        font-size: 3rem;
    }
    
    /* testimonials */
    .testimonials-cards .row .col{
        height: 300px;
    }
    
    .testimonials h2{
        font-size: 2.5rem;
    }

    /* benefits */
    .benefits h2{
        font-size: 2.5rem;
    }
    
    .benefits .benefits-card .row{
        flex-flow: row wrap;
    }

    .benefits .benefits-card .row .col{
        width: 45%;
    }

    /* about us */
    .about-us .container{
        flex-direction: row;
    }
    .about-us .container h2{
        font-size: 3.5rem;
    }
    
    .about-us .container .ab-us-txt{
        width: 65%;
        padding-right: 40px;
    }

    .about-us .container .ab-us-bottom{
        width: 35%;
    }
    .about-us .container .ab-us-bottom .ab-us-img{
        width: 100%;
    }

    
}
/* /(min-width: 768px) */
    

@media screen and (min-width: 1200px) {

    .container{
        width: 1140px;
    }
    
    .menu i{
        display: none;
    }
    
    .menu .navbar{
        display: flex;
        height: 100%
    }

    .menu .navbar ul{
        width: 480px;
        height: 100%;
    }

    .menu .navbar ul li{
        display: flex;
        align-items: center;
        height: 100%;    
    }

    .menu .navbar ul li:last-child a{
        background: white;
        color: black;
    }

    /* demo */
    .demo .container .row{
        height: 650px;
    }
    
    .demo .container .row .col:nth-child(1),
    .demo .container .row .col:nth-child(2){
        height: 300px;
    }

    .demo .container .row .col{
        height: 300px;
        width: calc(100% / 3);
        padding: 20px;
    }
    
    /* strategic */
    .strategic .container{
        flex-direction: row;
        justify-content: end;
    }

    .strategic .container .strategic-1{
        width: 50%;
    }

    .strategic .container .strategic-2{
        width: 50%;
        margin-top: 150px;
    }

    /* testimonials */
    .testimonials .container{
        max-width: 1200px;
    }

    /* benefits */
    .benefits .benefits-card .row .col{
        width: 31%;
    }
    
    
    
}
/* /(min-width: 1200px) */
